.header-component {
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);

    background: linear-gradient(159deg,#4A39DA,#395CDA 98%);

    position: sticky;
    top: 0;
    z-index: 999;

    li {
        list-style-type: none;
    }

    .logo {
        display: inline-block;
        text-decoration: none;

        h3 {
            margin: 0;
            line-height: 1;
            color: white;
            font-weight: 700;
            font-family: system-ui;
        }
    }

    .nav-item {
        text-decoration: none;

        a {
            color: white;
            font-weight: 600;
            font-size: 16px !important;
        }

        &:hover {
            background: rgb(0 0 0 / 69%);
            letter-spacing: 1;
            border-radius: 4px;
            transition: all 0.2s ease-out;
        }
    }
}
