.container {
  background: rgba(0, 0, 0, 0) url(../../../assets/images/bg-image.png) no-repeat scroll center center;
  background-size: contain;
}

.sub-header {
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.service-tile {
  margin-bottom: 16px;
  margin-right: 16px;
  width: calc(33.333% - 16px);
  border-radius: 6px;

  .img-cover {
    width: 35%;
  }

  article {
    padding: 8px 8px 8px 12px;
    h3 {
      font-size: 18px;
      color: #001a57;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      height: 75px;
      overflow: scroll;
      word-break: break-all;
    }
  }

  @media screen and (max-width: 556px) {
    margin: 0 16px 16px;
    width: calc(100%);

    article {
      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}