<div class="section" id="services">
   <h2 class="section-heading">Our Services</h2>
   <div class="container">
      <p class="sub-header">A tale of a fateful trip that started from this tropic port aboard this tiny ship today stillers</p>
      <div class="row">
         <div class="d-flex border service-tile" *ngFor="let service of services">
            <div class="img-cover">
               <img [src]="service.image" class="w-100 h-100">
            </div>
            <article class="w-75">
               <h3>{{service.title}}</h3>
               <p>{{service.description}}</p>
            </article>
         </div>
      </div>
   </div>
</div>
